<div class="container d-flex justify-content-center">
  <div class="col-7">
    <div class="category mt-3">
      <select class="form-control" name="category" onchange="location=value">
        <option value="/" selected>全部</option>
        <option value="/filter/家居物業" {{#if_same category '家居物業'}} selected {{/if_same}}>家居物業</option>
        <option value="/filter/交通出行" {{#if_same category '交通出行'}} selected {{/if_same}}>交通出行</option>
        <option value="/filter/休閒娛樂" {{#if_same category '休閒娛樂'}} selected {{/if_same}}>休閒娛樂</option>
        <option value="/filter/餐飲食品" {{#if_same category '餐飲食品'}} selected {{/if_same}}>餐飲食品</option>
        <option value="/filter/其他" {{#if_same category '其他'}} selected {{/if_same}}>其他</option>
      </select>
    </div>

    <div class="my-4">
      <span>總支出</span>
      <input type="text" style="color: #FF8000; width: 300px; border: none; padding-left: 20px; font-size: 40px;"
        name="number" value="{{ totalAmount }}" disabled>
    </div>
    <div class="my-3">
      <ul class="list-group">

        {{#each records}}
        <li class="list-group-item d-flex align-items-center" style="height: 100px;">
          <div class="col-2" style="text-align: center; line-height: 100px">
            <i class="
              {{#if_same this.category '家居物業'}}fas fa-home fa-2x{{/if_same}}
              {{#if_same this.category '交通出行'}}fas fa-shuttle-van fa-2x{{/if_same}}
              {{#if_same this.category '休閒娛樂'}}fas fa-grin-beam fa-2x{{/if_same}}
              {{#if_same this.category '餐飲食品'}}fas fa-utensils fa-2x{{/if_same}}
              {{#if_same this.category '其他'}}fas fa-pen fa-2x{{/if_same}}
              " style="color: #C4E1E1"></i>
          </div>

          <div class="col-4">
            <h6>{{ this.name }}</h6>
            <h6>{{ this.date }}</h6>
          </div>

          <div class="col-2" style="text-align: center; line-height: 100px">
            <span>{{ this.amount }}</span>
          </div>

          <div class="col-4" style="text-align: center; line-height: 100px">
            <a class="btn btn-outline-success" href="./records/{{ this._id }}/edit">Edit</a>
            <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
          </div>
        </li>
        {{/each}}

      </ul>
    </div>
  </div>
</div>